.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.bodier {
    font-family: Arial, sans-serif;
    background-color: #F1BF32;
    background-image: linear-gradient(40deg, #f8e4ac 0%, #e6b967 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.topbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: linear-gradient(120deg, #f0c756 0%, #8d6825 70%);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.f0 {
    flex: 1;
    justify-content: flex-start;
    color: #7a5a1e;
    font-size: small;
    font-weight: 700;
    font-family: Verdana, sans-serif;
}

.f1 {
    display: flex;
    flex: 4;
    justify-content: flex-start;
}
@media (max-width: 1060px) {
    .f1 {
        display: none;
    }
}
@media only screen and (max-width: 430px) and (min-width: 320px) {
    .logo-footer {
        flex: 1;
        padding: 1px;
        margin: 3px 5px;
    }
}

.f11 {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 3px;
    margin: 10px;
}

    .f11 a {
        text-decoration: none;
        color: #a17728;
        align-items: center;
    }

.f2 {
    display: flex;
    flex: 3;
    justify-content: center;
}


.logo-footer {
    flex: 1;
    padding: 3px;
    margin: 3px 30px;
}
