.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu {
    background-image: url("images/arrow-down.png");
}
.bi-list-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}
.bi-list-nested-nav-menu2 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
    display: none;
}

.nav-item {
    font-size: 0.9rem;
    padding-top: 0.7rem;
    padding-bottom: 0.4rem;
    font-size: large;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item ::deep a.active {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
    }

    .nav-item ::deep .nav-link:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

.nav-scrollable {
    display: none;
}

/* Logo Cirsa Negro */
.logo-header {
    position: relative;
    width: 20rem;
    height: 5.6rem;
    left: 2rem;
    top: -0.3rem;
}

.logo-login {
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 1rem;
    box-shadow: 2px 2px 2px 2px #555555;
    text-shadow: #888888;
}
.collapsableMenu {
    display: flex;
    flex-direction: row;
}
@media (max-width: 1320px) {
    .collapsableMenu {
        display: none;
    }
    .bi-list-nested-nav-menu2 {
        display: inline-block;
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        width: 3.5rem;
        height: 3.5rem;
        transform: rotateX(180deg);
    }
}

@media (max-width: 952px) {
    .logo-header {
        left: 1rem;
        width: 15rem;
        height: 4.2rem;
    }
    .bi-list-nested-nav-menu2 {
        display: inline-block;
        position: absolute;
        top: 1.15rem;
        right: 1rem;
        width: 3rem;
        height: 3rem;
        transform: rotateX(180deg);
    }
    
}
#check {
    display: none;
}
#check:checked ~ .collapsableMenu {
    display: flex;
}
.flexo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.center {
    margin-left: 7rem;
}
.reglog {
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
    margin-right: 0;
    margin-top: 0rem;
    margin-bottom: 2rem;
    float: flex-end;
    height: 6rem;
}
.cirsaLogo {
    float: flex-start;
}

.cen {
    margin-left: 1rem;
}

