<div class="flexo">
    <div class="nav-item px-4">
        <a href=""><img class="logo-header" src="images/logo-negro.png" alt="Logo Cirsa" /></a>
    </div>
    <div class="dropdown2">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="bi-list-nested-nav-menu2" aria-hidden="true"></i>
        </label>
        <div class="dropdown-content2">
            <a href="">Home</a>
            <a href="https://www.cirsa.com/areas-de-negocio/">Products</a>
            <a href="register">Register</a>
            <a href="login">Log In</a>
        </div>
    </div>
    <div class="collapsableMenu">
        <div class="flexo center">
            <div class="cen nav-item px-3 py-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu active" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            @* <div class="cen nav-item px-3 py-3">
                <NavLink class="nav-link" href="#">
                    
                </NavLink>
            </div> *@

            <div class="dropdown cen nav-item px-3 py-3">
                <NavLink class="nav-link" href="#">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Products
                </NavLink>
                <div class="dropdown-content">
                    <a href="https://www.cirsa.com/casinos/">Casinos</a>
                    <a href="https://www.cirsa.com/salas-de-juego/">Salas de Juego</a>
                    <a href="https://www.cirsa.com/maquinas-recreativas/">Máquinas recreativas</a>
                    <a href="https://www.cirsa.com/apuestas-y-juego-online/">Apuestas y juego online</a>
                </div>
            </div>

            <div class="cen nav-item px-3 py-3">
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                </NavLink>
            </div>
        </div>
        <div class="nav-item px-3 py-3 reglog">
            <NavLink class="nav-link" href="register">
                <img class="logo-login" src="images/register.png" alt="Register icon" />Register
            </NavLink>
            <NavLink class="nav-link" href="login">
                <img class="logo-login" src="images/login.png" alt="Login icon" />Log In
            </NavLink>
        </div>
    </div>
    
    
</div>
