@page "/dashboard/{userUsername}/clientRegister"

@code {
    public string userUsername { get; set; } = "example";
    private List<string> exampleCustomization = new List<string> { "Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif", "darkcyan", "400", "lightskyblue" };
    
}


<div class="clientRegister">
    <Login />
</div>