@page "/"

@code {
    @inject NavigationManager NavigationManager
    @inject NavigationManager RedirectManager
    private string baseUri = "";
    protected override void OnInitialized()
    {
        // Obtener la base URI usando RedirectManager
        baseUri = NavigationManager.BaseUri;
    }
    private void Redirect ()
    {
        RedirectManager.NavigateTo(baseUri + "register");
    }
}
<PageTitle>Cirsa Affiliates</PageTitle>
<div class="out-container">
    <div class="inout-container">
        <div class="container-p">
            <ul>
                <li><strong>Boost Your Earnings:</strong> Join our affiliate program to earn commissions for every sale.</li>
                <li><strong>Get a Personalized Link:</strong> Upon registration, receive an exclusive link just for you.</li>
                <li><strong>Easy Monitoring:</strong> Track your performance effortlessly with our user-friendly control panel.</li>
                <li><strong>Access Marketing Resources:</strong> Utilize a range of marketing tools to enhance your promotional efforts.</li>
                <li><strong>Increase Your Income:</strong> As an affiliate, enjoy additional income while helping businesses boost their sales.</li>
                <li><strong>Optimize Results:</strong> Your strategic involvement ensures significant results and increased profits.</li>
                <li><strong>Maximize Success:</strong> Join now to play a key role in driving success and maximizing your gains!</li>
            </ul>
        </div>
        <button @onclick="Redirect" class="join-button-p">Join Now</button>
    </div>
    <div class="inout-container2">
        <h1 class="p1">Affiliates</h1>
        <h1 class="p2">Program</h1>
    </div>
</div>