@page "/login"



<div class="login-out-container">
    <div class="login-page login-left">
        <img src="images/decent2.jpg" alt="Decentralised market">
    </div>
    <div class="login-middle">
        <div class="greetings-container">
            <div class="greetings">
                <h1>Affiliates</h1>
            </div>
            <div class="greetings2">
                <h1>Program</h1>
            </div>
        </div>
        <div class="login-container">
            <h2>LOG IN</h2>
            <form class="login-form">
                <div class="form-group">
                    <input class="email" @bind="ViewModel.Email" placeholder="     Email or username" type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <input class="pass" placeholder="     Password" type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <button type="submit" >Log In</button>
                </div>
            </form>
        </div>
    </div>
    <div class="login-page login-right">
        <img src="images/cent2.jpg" alt="Centralised market">
    </div>
</div>
