@page "/register"


<div class="login-out-container">
    <div class="login-page login-left">
        <img src="images/decent2.jpg" alt="Decentralised market">
    </div>
    <div class="login-middle">
        <div class="greetings-container reg">
            <div class="greets">
                <h1>Affiliates Program</h1>
            </div>
        </div>
        <div class="login-container reg loginReg-form">
            <h2>REGISTER</h2>
            <form class="login-form">
                <div class="form-group">
                    <input class="email" placeholder="     Email or username" type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <input class="pass" placeholder="     Password" type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <input class="pass" placeholder="     Confirm Password" type="password" id="confirmation" name="confirmation" required>
                </div>
                <div class="form-group policy">
                    <input type="checkbox" class="accept-checkbox">
                    <span class="accept-text">I accept the terms of use</span>
                </div>
                <div class="form-group">
                    <button class="reg" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
    <div class="login-page login-right">
        <img src="images/cent2.jpg" alt="Centralised market">
    </div>
</div>